extends ../layout

block content
  h1= title

  form(method="POST" action="")
    label(for="name") Name:
    input#name(type="text" placeholder="Name" required=true value=(item.name === undefined ? '' : item.name) name="name")
    if categories.length > 0
      label(for="name") Category:
      select#category(name="category")
        for category in categories
          option(value=category.name) #{category.name}
    label(for="price") Price:
    input#price(type="number" required=true value=(undefined === item.price ? 0 : item.price) name="price")
    label(for="number_in_stock") Number in stock:
    input#number_in_stock(type="number" required=true value=(undefined === item.number_in_stock ? 0 : item.number_in_stock) name="number_in_stock")
    label(for="description") Description:
    textarea#description(placeholder="Description" required=true value=(undefined === item.description ? '' : item.description) name="description")
    button(type="submit") Submit
  
  if errors
    ul
      for error in errors
        li!= error.msg