extends ../layout

block content 
  h1= title

  h3= item.name

  div(class="")
    p Description: #{item.description}
    span Price: #{item.price}
    span Number-In-Stock: #{item.number_in_stock}

  a(href=`${item.url}/update`) Update Item