extends ../layout

block content 
  h1= title

  h3= category.name

  if items.length < 1
    li No items in this category

  else
    ul
      for item in items
        li
          a(href=item.url) #{item.name}

  a(href=`${category.url}/update`) Update Category
  a(href=`${category.url}/delete`) Delete Category